{% extends "base.html" %}
{% block title %}1er Page{% endblock %}
{% block content %}
<h1 class="text-center">
    Top 10 Machine Learning Algorithms For Beginners: Supervised, Unsupervised Learning and More
</h1>
<h5 class="text-center" style="color: rgb(0, 80, 155);">
    This part will be updated later
</h5>

<style>
   article p{
        font-weight: lighter !important;
    }
    article h3{
        color: rgb(1, 155, 155);
        border-bottom: 1px solid  rgb(1, 155, 155);
    }
</style>
<div id="articleLongDescription" style="text-align: start;">
    <article class="desig_author empty-text"><span class="first-elemnt"></span>
        <p>In a world where nearly all manual tasks are being automated, the definition of manual is changing. Machine
            Learning algorithms can help computers play chess, perform surgeries, and get smarter and more personal.</p>
        <p>We are living in an era of constant technological progress, and looking at how computing has advanced over
            the years, we can predict what’s to come in the days ahead.</p>
        <p>One of the main features of this revolution that stands out is how computing tools and techniques have been
            democratized. In the past five years, data scientists have built sophisticated data-crunching machines by
            seamlessly executing advanced techniques. The results have been astounding.&nbsp;</p>
        <p>Machine learning algorithms are classified into 4 types:</p>
        <ul>
            <li>Supervised and</li>
            <li>Unsupervised Learning</li>
            <li aria-level="1">Semi-supervised Learning</li>
            <li aria-level="1">Reinforcement Learning</li>
        </ul>
        <p>However, these 4 are further classified into more types.&nbsp;</p>
        <p></p>
        <p></p>

        <article>
            <h2 id="what_are_the_10_popular_machine_learning_algorithms">What‌ ‌Are‌ ‌The‌ ‌10 ‌Popular‌ ‌Machine‌
                ‌Learning Algorithms?‌</h2>
            <p>Below is the list of Top 10 commonly used Machine Learning (ML) Algorithms:</p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li aria-level="1">Linear regression</li>
                                <li aria-level="1">Logistic regression</li>
                                <li aria-level="1">Decision tree</li>
                                <li aria-level="1">SVM algorithm</li>
                                <li aria-level="1">Naive Bayes algorithm</li>
                                <li aria-level="1">KNN algorithm</li>
                                <li aria-level="1">K-means</li>
                                <li aria-level="1">Random forest algorithm</li>
                                <li aria-level="1">Dimensionality reduction algorithms</li>
                                <li aria-level="1">Gradient boosting algorithm and AdaBoosting algorithm</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article>
            <h2 id="how_learning_these_vital_algorithms_can_enhance_your_skills_in_machine_learning">How Learning These
                Vital Algorithms Can Enhance Your Skills in Machine Learning</h2>
            <p>If you're a <a href="https://www.simplilearn.com/data-analyst-vs-data-scientist-article" target="_blank"
                    rel="noopener" title="data scientist">data scientist</a> or a <a
                    href="https://www.simplilearn.com/training-for-a-career-in-ai-machine-learning-article"
                    target="_blank" title="machine learning enthusiast" rel="noopener">machine learning enthusiast</a>,
                you can use these techniques to create functional <a
                    href="https://www.simplilearn.com/machine-learning-projects-for-beginners-article" target="_blank"
                    title="Machine Learning projects." rel="noopener">Machine Learning projects.</a></p>
            <p>There are three types of most popular Machine Learning algorithms, i.e - supervised learning,
                unsupervised learning, and reinforcement learning. All three techniques are used in this list of 10
                common Machine Learning Algorithms:&nbsp;</p>
            <p style="text-align: center;">
                <picture>
                    <source
                        srcset="https://www.simplilearn.com/ice9/free_resources_article_thumb/IG-10_ml_algorithms.jpg"
                        media="(max-width:950px)" class="blend-mode"><img
                        src="https://www.simplilearn.com/ice9/free_resources_article_thumb/IG-10_ml_algorithms.jpg"
                        alt="Machine Learning Algorithms" width="750" height="2719" class="blend-mode">
                </picture>
            </p>


        </article>
        <article>
            <h2 id="list_of_popular_machine_learning_algorithms">List of Popular Machine Learning Algorithms</h2>
            <h3>1. Linear Regression</h3>
            <p>To understand the working functionality of this algorithm, imagine how you would arrange random logs of
                wood in increasing order of their weight. There is a catch; however – you cannot weigh each log. You
                have to guess its weight just by looking at the height and girth of the log (visual analysis) and
                arrange them using a combination of these visible parameters. This is what linear regression in <a
                    href="https://www.simplilearn.com/tutorials/machine-learning-tutorial/what-is-machine-learning"
                    target="_blank" title="machine learning" rel="noopener">machine learning</a> is like.</p>
            <p>In this process, a relationship is established between independent and dependent variables by fitting
                them to a line. This line is known as the regression line and represented by a linear equation Y= a *X +
                b.</p>
            <p>In this equation:</p>
            <ul>
                <li>Y – Dependent Variable</li>
                <li>a – Slope</li>
                <li>X – Independent variable</li>
                <li>b – Intercept</li>
            </ul>
            <p>The coefficients a &amp; b are derived by minimizing the sum of the squared difference of distance
                between data points and the regression line.</p>
            <p></p>

            <p></p>
            <h3>2. Logistic Regression</h3>
            <p><a href="https://www.simplilearn.com/tutorials/data-science-tutorial/logistic-regression-in-r"
                    target="_blank" rel="noopener" title="Logistic Regression">Logistic Regression</a> is used to
                estimate discrete values (usually binary values like 0/1) from a set of independent variables. It helps
                predict the probability of an event by fitting data to a logit function. It is also called logit
                regression.</p>
            <p>These methods listed below are often used to help improve logistic regression models:</p>
            <ul>
                <li>include interaction terms</li>
                <li>eliminate features</li>
                <li>regularize techniques</li>
                <li>use a non-linear model</li>
            </ul>
            <h3>3. Decision Tree</h3>
            <p>Decision Tree algorithm in machine learning is one of the most popular algorithm in use today; this is a
                supervised learning algorithm that is used for classifying problems. It works well classifying for both
                categorical and continuous dependent variables. In this algorithm, we split the population into two or
                more homogeneous sets based on the most significant attributes/ independent variables.</p>
            <h3>4. SVM (Support Vector Machine) Algorithm</h3>
            <p>SVM algorithm is a method of classification algorithm in which you plot raw data as points in an
                n-dimensional space (where n is the number of features you have). The value of each feature is then tied
                to a particular coordinate, making it easy to classify the data. Lines called classifiers can be used to
                split the data and plot them on a graph.</p>
            <h3>5. Naive Bayes Algorithm</h3>
            <p>A <a href="https://www.simplilearn.com/tutorials/machine-learning-tutorial/naive-bayes-classifier"
                    target="_blank" rel="noopener" title="Naive Bayes">Naive Bayes</a> classifier assumes that the
                presence of a particular feature in a class is unrelated to the presence of any other feature.</p>
            <p>Even if these features are related to each other, a Naive Bayes classifier would consider all of these
                properties independently when calculating the probability of a particular outcome.</p>
            <p>A Naive Bayesian model is easy to build and useful for massive datasets. It's simple and is known to
                outperform even highly sophisticated classification methods.</p>
            <p></p>

            <p></p>
            <h3>6. KNN (K- Nearest Neighbors) Algorithm</h3>
            <p>This algorithm can be applied to both classification and regression problems. Apparently, within the Data
                Science industry, it's more widely used to solve classification problems. It’s a simple algorithm that
                stores all available cases and classifies any new cases by taking a majority vote of its k neighbors.
                The case is then assigned to the class with which it has the most in common. A distance function
                performs this measurement.</p>
            <p><a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm" target="_blank"
                    rel="nofollow noopener" title="KNN">KNN</a> can be easily understood by comparing it to real life.
                For example, if you want information about a person, it makes sense to talk to his or her friends and
                colleagues!</p>
            <p>Things to consider before selecting K Nearest Neighbours Algorithm:&nbsp;</p>
            <ul>
                <li>KNN is computationally expensive</li>
                <li>Variables should be normalized, or else higher range variables can bias the algorithm</li>
                <li>Data still needs to be pre-processed.</li>
            </ul>
            <h3>7. K-Means</h3>
            <p>It is an unsupervised learning algorithm that solves clustering problems. Data sets are classified into a
                particular number of clusters (let's call that number K) in such a way that all the data points within a
                cluster are homogenous and heterogeneous from the data in other clusters.</p>
            <p>How K-means forms clusters:</p>
            <ul>
                <li>The <a
                        href="https://www.simplilearn.com/tutorials/machine-learning-tutorial/k-means-clustering-algorithm"
                        target="_blank" rel="noopener" title="K-means algorithm">K-means algorithm</a> picks k number of
                    points, called centroids, for each cluster.</li>
                <li>Each data point forms a cluster with the closest centroids, i.e., K clusters.</li>
                <li>It now creates new centroids based on the existing cluster members.</li>
                <li>With these new centroids, the closest distance for each data point is determined. This process is
                    repeated until the centroids do not change.</li>
            </ul>
            <h3>8. Random Forest Algorithm</h3>
            <p>A collective of decision trees is called a <a
                    href="https://www.simplilearn.com/tutorials/machine-learning-tutorial/random-forest-algorithm"
                    target="_blank" rel="noopener" title="Random Forest">Random Forest</a>. To classify a new object
                based on its attributes, each tree is classified, and the tree “votes” for that class. The forest
                chooses the classification having the most votes (over all the trees in the forest).</p>
            <p>Each tree is planted &amp; grown as follows:</p>
            <ul>
                <li>If the number of cases in the training set is N, then a sample of N cases is taken at random. This
                    sample will be the training set for growing the tree.</li>
                <li>If there are M input variables, a number m&lt;&lt;M is specified such that at each node, m variables
                    are selected at random out of the M, and the best split on this m is used to split the node. The
                    value of m is held constant during this process.</li>
                <li>Each tree is grown to the most substantial extent possible. There is no pruning.&nbsp;</li>
            </ul>
            <h3>9. Dimensionality Reduction Algorithms</h3>
            <p>In today's world, vast amounts of data are being stored and analyzed by corporates, government agencies,
                and research organizations. As a data scientist, you know that this raw data contains a lot of
                information - the challenge is in identifying significant patterns and variables.</p>
            <p>Dimensionality reduction algorithms like Decision Tree, Factor Analysis, Missing Value Ratio, and Random
                Forest can help you find relevant details.</p>
            <p></p>

            <p></p>
            <h3>10. Gradient Boosting Algorithm and AdaBoosting Algorithm</h3>
            <p>These are boosting algorithms used when massive loads of data have to be handled to make predictions with
                high accuracy. Boosting is an ensemble learning algorithm that combines the predictive power of several
                base estimators to improve robustness.</p>
            <p>In short, it combines multiple weak or average predictors to build a strong predictor. These boosting
                algorithms always work well in <a
                    href="https://www.simplilearn.com/importance-of-machine-learning-for-data-scientists-article"
                    target="_blank" title="data science" rel="noopener">data science</a> competitions like Kaggle, AV
                Hackathon, CrowdAnalytix. These are the most preferred machine learning algorithms today. Use them,
                along with Python and R Codes, to achieve accurate outcomes.</p>


        </article>

    </article>
</div>

<br> <br>
<br> <br> 
<br> <br>

{% endblock %}